<h1 class="page-title">
  {{ title }}
</h1>
<ul class="nav">
  <li>
    <a href="/" class="nav-link">Home</a>
  </li>
  <li>
    <a href="/help" class="nav-link">Help</a>
  </li>
  <li>
    <a href="/about" class="nav-link">About</a>
  </li>
</ul>